{% extends 'store/layouts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-md-6'>
            <div class="">
                <div class ="card mt-3 shadow">
                    <div class='card-body'>
                        <div class="content-section">
                            <h3 class="textdata" align="center">Password Reset Confirm</h3><hr>
                            <p>Please enter your new password.</p>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <center>
                                    <br> <button class="btn btn-outline-info upbutton" type="submit">Reset password</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}