{% extends 'store/layouts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class='container'>
    <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class ="card mt-3 shadow">
                    <div class='card-body'>
                        <div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
                            <legend class="border-bottom mb-4 textdata" align="center">Profile Information:</legend>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="media">
                                        <center>
                                    {% if user.username == form.instance.username %}
                                        <input id="id_image" type="file" name="image" hidden/>
                                            <label>
                                                <img class="rounded-circle account-img profile-image"
                                                style="cursor: pointer"
                                                src="{{ user.profile.image.url }}"
                                                title="Upload new Image">
                                            </label>

                                                
                                    {% else %}
                                        <img class="rounded-circle account-img profile-image",src="{{ form.instance.image.url }}">
                                    {% endif %}
                                    <div class="media-body">
                                        <h2 class="account-heading">{{ form.instance.username }}
                                        </h2>
                                        <p class="text-secondary">{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
                                        <p class="text-secondary">{{ form.instance.email }}
                                        <p class="text-secondary">{{ user.profile.phone }}</p>

                                    </div>
                                </div>
                                    </center>
                                {% if user.username == form.instance.username %}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4 textdata" align="center">Edit Profile Information</legend>
                                        <div class="row">
                                            <div class="form-group col-md-6 mb-0">
                                                {{ form.first_name|as_crispy_field }}
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                {{ form.last_name|as_crispy_field }}
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                {{ form.email|as_crispy_field }}
                                            </div>
                                            <div class="form-group col-md-6 mb-0">
                                                {{ form.username|as_crispy_field }}
                                            </div>
                                        </div>

                                        <br><a href="{% url 'password_change' %}">Change password?</a>
                                    </fieldset>
                                    <center>
                                        <div class="form-group">
                                            <button class="btn btn-outline-info upbutton" type="submit">Update</button>
                                        </div>
                                    </center>

                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}